*{
 /*border: 1px solid indianred;*/
 margin: 0;
} 
body {
 margin: 8px;
}

#game-container{
 display:flex;
 flex-direction: column;
 height: 100%;
 width: 100%;
 justify-content: flex-start;
 background-color: orange;
 aspect-ratio: 1 / 1;
}

.grid-row {
  display: flex;
  /*justify-content: center;*/
 /*align-items: stretch;*/
 flex: 1;
 /*aspect-ratio: 16;*/
 }

.grid-cell {
 height: 100%;
 width: 100%;
 /*aspect-ratio: 1/1;*/
}